body {
font-family: Arial, sans-serif;
background-color: #e7e7e7; /* rosa bebê */
margin: 0;
padding: 0;
}

.container {
max-width: 800px;
margin: auto;
background-color: rgb(237, 181, 203);
padding: 20px;
}

.foto {
width: 120px;
border-radius: 50%;
display: block;
margin: auto;
}

h1 {
text-align: center;
}

h2 {
color: #000000;
border-bottom: 1px solid #ddd;
padding-bottom: 5px;
}

a {
color: #0a0a0a;
text-decoration: none;
}


